<div class="py-20">
  <div class="container mx-auto px-6">
    <h2 class="text-4xl font-bold mb-2 text-black">
      Financial Freedom in your face!
    </h2>
    <h3 class="text-light mb-8 text-black">
      If you give us your money. You won’t go broke.
    </h3>

    <button class="bg-purple-100 text-white font-bold  py-4 px-8 shadow-lg uppercase tracking-wider">Learn More</button>
  </div>
</div>

