<nav class="flex items-center justify-between flex-wrap border-b-2 h-32 px-6">
  <div class="flex items-center flex-shrink-0 text-gray-100 mr-6">
    <%= link_to 'BANK OF BIGGIE', root_path, class: 'font-bold text-xl tracking-tight text-black' %>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto justify-center hidden lg:block">
      <div class="text-sm">
        <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-blue mr-4">Ways to Bank</a>
        <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-black-200 hover:text-blue mr-4">
          Examples
        </a>
        <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-black-200 hover:text-blue">
          Blog
        </a>
      </div>
  </div>
      <% if user_signed_in?%> 
        <%= link_to 'Log out', destroy_user_session_path %>
      <% else %>
          <%= link_to 'Login', new_user_session_path, class: 'no-underline hover:no-underline text-white text-lg px-5 font-bold bg-purple-100 h-32 flex items-center mx-5 hover:bg-purple-200'%>
        </div>
        <%= link_to 'Sign Up', new_user_registration_path %>
      <% end %>
</nav>
