<div class="flex justify-center">
  <div class="max-w-sm rounded shadow-lg m-3 p-3">
  <% @accounts.each do |account| %>
    <h2> <%= account.atype.capitalize %> Account Balance</h2>
    <h2> <%= account.amount %></h2>
    <hr>
  <% end %>
  </div>
</div>

